
Orientação_objetos/bin/Debug/net8.0/Orientação_objetos.deps.json
Orientação_objetos/bin/Debug/net8.0/Orientação_objetos.dll
*.pdb
*.exe
*.json
Orientação_objetos/obj/Debug/net8.0/ref/Orientação_objetos.dll
Orientação_objetos/obj/Debug/net8.0/Orientação_objetos.GlobalUsings.g.cs
Orientação_objetos/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Orientação_objetos/obj/Debug/net8.0/Orientação_objetos.AssemblyInfo.cs
Orientação_objetos/obj/Debug/net8.0/Orientação_objetos.AssemblyInfoInputs.cache
Orientação_objetos/obj/Debug/net8.0/Orientação_objetos.assets.cache
Orientação_objetos/obj/Debug/net8.0/Orientação_objetos.csproj.CoreCompileInputs.cache
Orientação_objetos/obj/Debug/net8.0/Orientação_objetos.csproj.FileListAbsolute.txt
Orientação_objetos/obj/Debug/net8.0/Orientação_objetos.dll
Orientação_objetos/obj/Debug/net8.0/Orientação_objetos.genruntimeconfig.cache
Orientação_objetos/obj/Debug/net8.0/refint/Orientação_objetos.dll
Orientação_objetos/obj/project.nuget.cache
Orientação_objetos/obj/Orientação_objetos.csproj.nuget.g.props
Orientação_objetos/obj/Orientação_objetos.csproj.nuget.g.targets
Orientação_objetos/obj/Debug/net8.0/Orientação_objetos.GeneratedMSBuildEditorConfig.editorconfig
Orientação_objetos/obj/Debug/net8.0/Orientação_objetos.csproj.BuildWithSkipAnalyzers
